.vertical-center {
min-height: 100%;
min-height: 100vh;

width: 100%;

display: flex;
align-items: center;
}

.vertical-center > * {
    width: 100%;
    text-align: center;
}

a.no-underline:hover {
    text-decoration: none;
}

.no-select, .modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[data-copy] {
    display: none;
}